/* Main Stylesheet for Student Portfolio project by Rupert Bryant-Greene for Team Treehouse */

/*****************************************
        ~~~~~  Header Styles  ~~~~~
*****************************************/

header {
  
  background-color: aliceblue;
  
}

.main-header,
.main-nav, 
.profile {
  
  display: flex;
  flex-direction: column;
  
}

.main-header h1,
.main-header p, 
.main-header img {
  
  align-self: center;
  
}

.main-header img {
  
  margin: 50px 0 25px 0;
  
}

.main-header p {
  
  margin: 0px 20px 50px;
  font-size: 1.5em;
  font-weight: 200;
  
}

.profiletext {
  display: block;
  margin: 50px 0 25px 0;
  text-align: center;
}

/*****************************************
         ~~~~~  Nav Styles  ~~~~~
*****************************************/


.main-nav ul {
  
  padding: 0;
  margin: 0;
  width: 97.5%;
  align-self: center;
  
}

.main-nav li {
  
  list-style: none;
  
}

.main-nav a {
  
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  background-color: white;
  font-size: 1.125em;
  text-align: center;
  padding: 1em;
  margin: .4em;
  border-radius: 5px;
  
}

.main-nav a:hover {
  
  color: #0b0b0b;
  background-color: yellow;
  
}


/*****************************************
       ~~~~~  Tablet Styles  ~~~~~
*****************************************/

@media (min-width: 480px) {
  
  .main-nav ul {

    padding: 0;
    margin: 0;
    display: flex;
    align-self: stretch;
    justify-content: center;

  }

  .main-nav li {

    list-style: none;

  }

  .main-nav a {

    background-color: transparent;

  }

  .main-nav a:hover {

    color: #0b0b0b;
    background-color: yellow;

  }

  .main-header img {

    float: right;

  }
  
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }  
  
  .profiletext {
    order: 1;
    text-align: left;
  }
  
  .profilepic {
    order: 2;
  }
}